html,
body {
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Merriweather", serif;
}

body {
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1rem;
}

.header {
  font-size: 3rem;
  padding-top: 1rem;
}

#submit {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  padding: 1rem;
}

.question {
  font-size: 2rem;
}

.answers {
  font-size: 1.7rem;
  padding: 1rem;
  margin: 1rem;
}

.blurb {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
